
.ringdisplay{
    height:250px;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    overflow-x: scroll; 
    padding: 20px;
    gap:40px;
    scroll-behavior: smooth;
    background-color: #0d0d2e;
}

