.product{

    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #16096d;
    height:60px;
    width:60px;

}

.product img{
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
}