.KnowUs {
  height: 40px;
  background-color: #cfb9d0;
  color: #f0f4ef;
  text-align: center;
}

.AboutSnj {
  background-color: #0d0d2e;
}

.AboutSnj h5 {
  color: #f0f4ef;
  font-weight: 200;
  /* margin-left: 10px; */
  /* margin-bottom: 15px; */
}

.AboutSnj h2 {
  font-weight: 300;
  color: #0d0d2e;
}

.KnowUsElements {
  display: flex;
  /* align-items: center; */
  background-color: #0d0d2e;
  /* height: 600px; */
  justify-content: space-around;
  color: #f0f4ef;
  padding-top: 20px;
}

.KnowUsElements h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.SocialLinksSection {
  text-align: center;
}

.SocialLinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
}

.SocialLinks img {
  height: 80px;
  margin: 10px;
}

.LogoBlue {
  height: 300px;
  /* align-self: center; */
  /* padding-left: 34rem; */
}

.about-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.AboutSnj h5{
  font-weight: 600;
}

@media (max-width: 800px) {
  .KnowUsElements h3,
  h4 {
    font-size: smaller;
  }

  .LogoBlue {
    height: 250px;
  }
}

@media (max-width: 700px) {
  .LogoBlue {
    height: 200px;
  }
}

.footer-icon {
  color: #fff;
  font-size: 30px;
  margin: 10px;
}
.ContactUsMobile {
  display: none;
}

@media (max-width: 550px) {
  .ContactUs {
    display: none;
  }
  .ContactUsMobile {
    display: block;
    color: #f0f4ef;
    padding: 0 70px;
    text-align: center;
  }
  .ContactUsMobile h5{
    font-weight: 500;

  }
  .KnowUsElements {
    height: 100%;
  }
}
