.CustomerReview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:320px;
    width:600px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 2px 3px 4px -2px #0d0d2e;
    margin:15px;
    padding: 9px;
}

.CustomerReview img{
    height:50px;
    border-radius: 6px;
    margin-top: 50px;;
}

.CustomerReview h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.CustomerReview p{
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.CustomerReview h6{
    font-weight: 200;
}
