

.subcategory {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    align-items: flex-start;
    justify-content: flex-start;
    
  }

/* smartphones */
@media (max-width: 600px) {
.subcategory {
    justify-content: center; 
    gap: 10px; 
  }
}

/* tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .subcategory {
    justify-content: space-around;
  }
}

/* desktops */
@media (min-width: 1025px) {
  .subcategory {
    justify-content: flex-start; 
  }
}