.subcategory {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  justify-items:start;
padding: 0 0.75rem;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .subcategory {
  
 
  }
  
}
