.category-recepient{
    height:500px;
    margin-bottom:120px;
    margin-top:100px;
}

.category-pictures{
    display:flex;
    align-items: center;
    justify-content: center;
}

.category-recepient h1{
    color: #0d0d2e; 
    text-align: center;
    margin-bottom: 60px;
}

.category-pictures img{
    height:380px;
    border-radius: 30px;
    box-shadow: 2px 3px 4px -2px #0d0d2e;
}

.men{
    transform: rotate(345deg);
    margin-right: 40px;
}

.women{
    transform: rotate(15deg);
}

/* smartphones */
@media (max-width: 600px) {
    .category-pictures img {
     height: 300px;
    }
  }
  
  /* tablets */
  @media (min-width: 601px) and (max-width: 1024px) {
    .category-pictures img {
      height: 330px;
    }
  }
