.product{
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.product img{
    width: 210px; 
    height:200px; 
    object-fit:fill; 
    border-radius: 50%; 
}

.productName{
    text-align: center;
    font-size: large;
    font-weight: 500;
    color: #f0f4ef;
    text-decoration:underline #0d0d2e;
}