.product-card{

    height:420px;
    width:250px;
    margin-bottom:30px;
    background-color: #fffff9;
    border-radius: 30px;
    box-shadow: 0 -1px 2px rgb(13, 13, 46);
    box-shadow: 6px 8px 2px 1px #0d0d2e4d;
    cursor: pointer;
}

.cardinfo{

    background-color:#fffff9;
    margin: 0;
    /* text-align: center; */
    border-radius: 0 0 12px 12px;
    /* text-align: left; */

}

.product-card img{
    height:250px;
    width:250px;
    object-fit: cover;
    margin:0;
    border-radius: 26px 26px 0 0;


}

.product-card h3{

    color: #0d0d2e;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 300;
    text-align: center;

    font-family:Georgia, 'Times New Roman', Times, serif


}

.newPrice{

    text-decoration:solid;
    color:#0d0d2e;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 26px;
    text-align:left;
    
}

.oldPrice{

    text-decoration: line-through;
    color:rgb(183, 98, 98);
}



.cart-singleitem{
  text-align:center ;

}