.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* overflow-x: scroll; */
    justify-content: center;
    margin:15px;


}

.Testimonials h1{
    text-align: center;
    color: #0d0d2e;
}

.Testimonials{
    margin-top: 120px;
    margin-bottom: 140px;
}

