.testimonial-scroll-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.Testimonials h1{
    text-align: center;
    color: #0d0d2e;
    margin-bottom: 15px;
}

.Testimonials{
    margin-top: 120px;
    margin-bottom: 140px;
    padding: 0 20px;
}

.testimonials-heading{   
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-heading img{
    height:40px;
}

@media (max-width : 700px){

    .Testimonials{
        margin-top: 90px;
        margin-bottom: 90px;
        /* padding: 0 20px; */
    }

    .testimonial-scroll-container {
        gap: 8px; 
    }

}



